body {
    margin: 0;
    font-family: 'Judson', serif;
    background-color: #181E2E;
    color: #C7D4DE;
    overflow-x: hidden;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    justify-content: center;
    margin-top: 100px;
    height: 200px;
    display: flex;
    background-color: #A6BED1;
}

footer h1 {
    font-size: 50px;
    color: #386270;
    position: relative;
    right: 365px;
    bottom: 30px;
}

#linkedin {
    position: relative;
    right: 525px;
    top: 70px;
    height: 120px;
    width: 120px;
}

#keybwallp {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.profile-container {
    background-color: #3E6985;
    padding: 50px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#pogi {
    position: relative;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.text-content {
    max-width: 700px;
    text-align: left;
}

.text-content h1 {
    position: relative;
    bottom: 50px;
    left: 20px;
    font-size: 50px;
    font-weight: lighter;
}

.text-content #about {
    line-height: 1.6;
    position: relative;
    bottom: 50px;
    left: 20px;
}

#visit {
    position: relative;
    bottom: 50px;
    left: 20px;
    color: black;
    text-decoration: none;
}

.text-content a {
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

#github {
    position: relative;
    left: 20px;
    bottom: 45px;
    width: 20px;
    height: 20px;
}

#letsconnect {
    position: relative;
    right: 357px;
    font-size: 25px;
}

.projects-container {
    display: flex;
    justify-content: center;
}

#project {
    font-size: 50px;
    text-align: center;
    padding-right: 850px;
}

.project {
    background-color: #A7BDD2;
    margin: 5px;
    width: 300px;
    height: 150px;
    border: solid #3E6985;
    border-width: 5px 15px 15px;
    border-right-color: #8AA7BC;
    border-left-color: #8AA7BC;
    text-decoration: none;
    transition: background-color 0.1s ease, border-color 0.1s ease, color 0.1s ease;
}

.project h2 {
    margin-left: 20px;
    color: #3A5E5E;
}

.project p {
    margin: 20px;
    color: black;
}

.project:hover {
    background-color: #3E6985;
    border-color: #8AA7BC;
    border-top-color: #5A86A0;
    border-bottom-color: #5A86A0;
}

.project:hover h2,
.project:hover p {
    color: #C9CACC;
}

@media (max-width: 600px) {
    #keybwallp {
        height: 70px;
    }

    .profile-container {
        height: 480px;
    }
    
    #pogi {
        position: absolute;
        top: 100px;
        width: 230px;
        height: 220px;
    }
    
    .text-content {
        top: 350px;
        left: 0px;
        position: absolute;
        max-width: 400px;
        height: 10px;
    }
    
    .text-content h1 {
        position: absolute;
        top: -60px;
        font-size: 50px;
    }
    
    .text-content #about {
        position: absolute;
        font-size: 15px;
        top: 20px;
    }
    
    #visit {
        top: 200px;
        position: relative;
        font-size: 15px;
    }

    #github {
        position: relative;
        top: 205px;
        width: 15px;
    }
    
    .text-content a {
        font-size: 10px;
    }
    
    #letsconnect {
        display: flex;
        position: relative;
        left: 20px;
        top: 220px;
    }
    
    .projects-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #project {
        position: relative;
        left: 20px;
        width: 50px;
        padding: 0;
    }

    footer h1{
        position: relative;
        left: -30px;
    }

    #linkedin {
        position: relative;
        right: 210px;
    }
}

@media (max-width: 320px) {
    #keybwallp {
        height: 70px;
    }

    .profile-container {
        height: 490px;
    }
    
    #pogi {
        position: absolute;
        top: 100px;
        width: 200px;
        height: 190px;
    }
    
    .text-content {
        top: 350px;
        left: -10px;
        position: absolute;
        max-width: 400px;
        height: 10px;
    }

    #github {
        position: relative;
        top: 225px;
    }
    
    .text-content h1 {
        font-size: 35px;
        top: -70px;
        position: absolute;
    }
    
    .text-content #about {
        position: absolute;
        top: 10px;
        font-size: 15px;
    }
    
    #visit {
        position: relative;
        font-size: 12px;
        top: 220px;
    }
    
    .text-content a {
        font-size: 10px;
    }
    
    #letsconnect {
        position: relative;
        top: 230px;
        left: 20px;
    }
    
    .projects-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #project {
        position: relative;
        font-size: 35px;
        left: 10px;
        width: 50px;
        padding: 0;
    }

    .project {
        width: 250px;
    }

    footer {
        height: 160px;
    }

    footer h1{
        font-size: 35px;
        position: relative;
        left: -80px;
    }

    #linkedin {
        position: absolute;
        left: 10px;
        top: 1425px;
    }
}